.form-container {
  position: relative;
  padding: 15px;
  text-align: left;
}

.heading-container {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.form-subheading {
  font-size: 16px;
  color: #777;
}

span {
  color: #f44336;
  margin: 0 !important;
}
.form-container h3{
  font-weight: 500;
  margin-bottom: 2px;
}

mat-form-field {
  display: block;
}

.mdc-button {
  color: #fff;
}


.ck-editor__editable_inline{
 border: 1px solid red;
  max-height: 100px !important;
}






.mat-mdc-dialog-container .mdc-dialog__content {
  color: #000;
}

h2 {
  color: #fff;
  text-align: left;
}

.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: #f44336;
  --mdc-protected-button-label-text-color: #fff;
}



.mdc-text-field--filled {
  background-color: #f9f9f9 !important;
}