<div class="form-container">
    <div class="heading-container">
        <h1 class="form-heading"><span> Update</span> Post</h1>
        <p class="form-subheading">You Can Update Your Post Here</p>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" [formGroup]="editForm" (ngSubmit)="editPost()">
        <h3>Title:</h3>
        <mat-form-field>
            <input matInput placeholder="Title" formControlName="title" required>
            <mat-error *ngIf="editForm.controls['title'].status ==='INVALID' ">Enter your Title</mat-error>

        </mat-form-field>
        <h3>Image URL:</h3>
        <mat-form-field>
            <input matInput placeholder="Image LInk" formControlName="imageUrl" required>
            <mat-error *ngIf=" showError && editForm.get('imageUrl')?.hasError('required') && editForm.get('imageUrl')?.dirty">Image URL is required.</mat-error>
            <mat-error *ngIf="showError && editForm.get('imageUrl')?.hasError('invalidImageUrl') && editForm.get('imageUrl')?.dirty">Please enter a valid image URL.</mat-error>
    
        </mat-form-field>
        <h3>Content:</h3>

        <div class="content-area ">
            <ckeditor class="text-editor" [editor]="Editor" formControlName="content" required></ckeditor>
        </div>
        <mat-error *ngIf="editForm.controls['content'].status ==='INVALID'">Enter your Content</mat-error>
        <mat-dialog-actions [align]="'end'">
            <button mat-raised-button mat-dialog-close>Cancel</button>
            <button type="submit" mat-raised-button 
                >Update</button>
        </mat-dialog-actions>
    </form>
</div>