
.content {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding-left: 80px;
    z-index: 5;
    background-color: black;
 }
 section{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 90px 0;
    background: #fff;
    overflow: hidden;
 }
 .section-title, .section-title p{
    float: left;
 }
 .section-title h2 {
    color: #292929;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

.section-title h2 span{
    color: #e8491d;
}

.create-button button{
    position: relative;
    float: left;
    margin-bottom: 10px;
}
.img{
    
    position: relative;
    width: 50%;
    margin-bottom: 10px;
}

mat-card{
    margin: 2%;
}

button{
    margin: 2px;
}
table {
    width: 100%;
  }
th{
    background-color: black !important;
    color: white;
}
img{
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: #f44336;
    --mdc-protected-button-label-text-color: #fff;
}
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

fa-icon{
    color:#f44336 ;
}