
.post-card {
    max-width: 600px; 
    margin: 0 auto; 
    border-radius: 8px; 
    max-height: 100%; 
    padding: 16px; 
    box-sizing: border-box;
  }
  

  .mat-mdc-card {
    box-shadow:none;
   --mdc-elevated-card-container-color:none;
 }
  
  mat-card-title {
    font-size: 42px;
    color: #333;
    margin-bottom: 32px;
    line-height: 52px;
    font-weight: 700;
  }
  

  mat-card-subtitle {
    font-size: 20px; 
  margin-bottom: 12px;
    color: #666;
  }
  
  .mat-mdc-card-content {
    display: block;
    padding: 0 16px;
    text-align: justify;
    text-align: leftred;
}
  
  img {
    width: 100%;
    max-height: 300px; 
    object-fit: cover; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
  }
  
  
  .post-image {
    background-color: #ccc; 
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
 