<mat-card class="post-card">
    <mat-card-header>
      <mat-card-title>{{ selectedPost.title }}</mat-card-title>
      <mat-card-subtitle >{{ selectedPost.created | date }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image (error)="handleImageError($event)" [src]="selectedPost.imageUrl"  alt="Post Image" />
    <mat-card-content  class="post-content" [innerHTML]="(selectedPost.content)"> >
      {{selectedPost.content}}
    </mat-card-content>
  </mat-card>
  