<div class="home-wrap">
    <div class="home-inner">
        <div class="half-home-wrap">
            <h1>Hello Stranger!<br>WANT TO KNOW<br><span>Information you can trust.</span></h1>
            <h4>Reliable, verifiable information on major cover-ups.</h4>
        </div>
        <div class="half-bg">
            <div class="bg" data-bg="/">
                <img src="assets/images/pexels-pixabay-268976.jpg" alt="">
            </div>
            <div class="overlay"></div>
        </div>
        <div class="pattern-bg"></div>
    </div>

</div>

<div class="horizontal-nav-wrap">
    <div class="scroll-down-wrap">
        <div class="scroll-mouse">
            <div class="mouse-scroll"></div>
        </div>
        <span>Scroll Down</span>
    </div>
    <nav class="hor-scroll-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a routerLink="/dashboard" >Dashboard</a></li>
        </ul>
    </nav>
</div>

<div class="content">
    <section>
       <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Recent <span>Posts</span> </h2>
                    <p> Stay Curious. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <app-post-list></app-post-list>
        </div>
       </div>
    </section>
   


</div>