.home-wrap{
    position: relative;
   width: 100%;
   height: 90%;
   margin-bottom: 65px;
   z-index: 4;
   background: #2A2A2E;
   overflow: hidden; 
}

.home-inner{
   height: 100%;
   width: 100%;
   float: left;
   overflow: hidden;
   position: relative;
}

.half-home-wrap {
   position: absolute;
   left: 25%;
   top:30%;
   z-index: 10;
}
.half-home-wrap h1{
   color: #fff;
   font-family: 'Poppins', sans-serif;
   font-size: 50px;
   text-align: left;
   font-weight: 600;
   line-height: 65px;

}
.half-home-wrap h1 span{
   color:#e8491d;
}
.half-home-wrap h1:before {
   content: '';
   position: absolute;
   top: -30px;
   left: 0;
   width: 50px;
   height: 4px;
   border: 1px solid rgba(255, 255, 255, 0.21);
}

.half-home-wrap h4 {
   padding: 15px 30px;
   background: rgba(0, 0, 0, 0.21);
   text-align: left;
   font-size: 10px;
   float: left;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.71);
   letter-spacing: 5px;
   font-weight: 600;
}

.half-bg{
   float: right;
   width: 65%;
   height: 100%;
   overflow: hidden;
   z-index: 2;
}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.29;
   z-index: 3;
}

.pattern-bg{
   position: absolute;
   bottom: 0;
   width: 65%;
   height: 30%;
   z-index: 3;
   right: 0;
   background: url(/assets/images/pattern.png) repeat;
   opacity: 0.2;
}

.horizontal-nav-wrap{
   position: absolute;
   bottom: 0;
	height: 80px;
	left: 80px;
	right: 0;
	background: #2D2D32;
	z-index: 100;
    width: 94%;
    float: left;
}

.scroll-down-wrap {
	float: left;
	height: 80px;
	position: relative;
	margin-left: 50px;
	padding-right: 50px;
	padding-top: 28px;
	border-right: 1px solid rgba(255, 255, 255, 0.11);
}
.scroll-down-wrap{
   min-width:180px !important;

}
.scroll-down-wrap span {
	float: left;
	margin-left: 20px;
	position: relative;
	top: 8px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	color: #8B8B8B;
}
.scroll-mouse {
	float: left;
	width: 20px;
	height: 30px;
	border-radius: 6px;
	padding: 0 6px;
	border: 2px solid rgba(255, 255, 255, 0.41);
	box-sizing: border-box;
}
.mouse-scroll {
	position: relative;
	left: 50%;
	top: 6px;
	margin-left: -1.5px;
	width: 3px;
	height: 6px;
	border-radius: 25%;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
   background:#e8491d;

}
@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(10px);
		opacity: 0;
	}
}

.hor-scroll-nav{
   padding: 23px 20px 0;

}


.hor-scroll-nav li {    
   margin-right: 0;
}
.hor-scroll-nav{
	float: left;
	padding: 23px 40px 0;
	height: 100%;
	border-right: 1px solid rgba(255, 255, 255, 0.11);
	background: #2A2A2E;
}
.hor-scroll-nav li {
	float: left;
	margin-right: 10px;
}
.hor-scroll-nav li a {
	float: left;
	padding: 13px 35px;
	color: #8B8B8B;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 3px;
	position: relative;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
   text-decoration: none;
}
.hor-scroll-nav li a:after,
.hor-scroll-nav li a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 15px;
	height: 2px;
	margin-top: -1px;

}
.hor-scroll-nav li a:before {
	background: rgba(255, 255, 255, 0.091);
	z-index: 1;
}
.hor-scroll-nav li a:after {
	width: 0;
	z-index: 2;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.content {
   position: relative;
   float: left;
   width: 100%;
   padding-left: 80px;
   z-index: 5;
}
.section-title{
   float: left;
}
.section-title p{
   float: left;
   font-size: 15px;
   line-height: 1.8;
}
section{
   position: relative;
   width: 100%;
   padding: 90px 0;
   background: #fff;
   overflow: hidden;
}
.section-title h2 {
    color: #292929;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

.section-title h2 span{
    color: #e8491d;
}
