.main-header{
    position: fixed;
    left:0;
    top:0;
    width: 80px;
    height: 100%;
    z-index: 100;
    text-align: center;
}
.main-header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2C2D32;
    opacity: 0.6;
}

.logo-container {
    float: left;
    width: 80px;
    height: 80px;
    line-height: 80px;
}
a{
    text-decoration: none;
    position: relative;
    color: #000;
}
.logo-container img {
    width: 30px;
    height: auto;
}
