.posts-wrapper {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  text-align: left;
  font-family: 'Arial', sans-serif;

}
mat-card{
  border-radius: 1.5rem!important;
  overflow-x: hidden;
}
mat-card-subtitle{
  color: #888;
}

mat-card-titles {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
}

.post-content {
  height: calc(100% - 50px); 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  background-size: cover;
  border: 1px solid #eee;
  background: #2D2D32;
  border-radius: 1.5rem!important;
  color: #fff;
}
.card:hover{
opacity: .9;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 25px!important;
}
.mat-mdc-card {
   box-shadow:none;
  --mdc-elevated-card-container-color:none;
}

span.separator {
  display: inline-block;
  width: 100%; 
  height: 1px; 
  background-color: #ccc; 
  margin: 4px 0; 
}
.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: #fff;
}
.mat-mdc-button.mat-primary {
  --mdc-text-button-label-text-color: #fff;
}