#main-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
	left: 0;
	z-index: 2;
}

#home-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}

