<div id="main-content">
    <app-main-header></app-main-header>
    <div id="home-wrapper">
      <!-- <app-home></app-home> -->
      <router-outlet></router-outlet>
      
    </div>
  
  </div>

  