/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #2D2D32;
  color: #000;
  font-family: 'Titillium Web', sans-serif;

}

/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


.no-blogs-img {
  border: 1px solid #eee;
  z-index: 100;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.no-blogs-area {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.no-posts-message {
  font-size: 18px;
  font-weight: bold;
  background-color: #F5F5F5;
  padding: 10px;
  text-align: center;
}

.no-posts-message span {
  color: #e8491d;
}

.responsive-svg {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.ck.ck-editor__main>.ck-editor__editable {
  background: var(--ck-color-base-background);
  border-radius: 0;
  max-height: 200px;
}
